<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>Add Note</title>
</head>
<body>
<nav th:insert="~{fragments/head :: mainNavFragment}"></nav><br><br>
<!-- create html registrationForm (header) -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- success message
            <div th:if="${param.success}">
                <div class="alert alert-info">Your note successfully saved!!!!</div>
            </div>-->
            <h1>Take a note</h1>
            <form th:action="@{/notepad/edit}" method="post" th:object="${noteDTO}">
                <div class="form-group">
                    <label class="control-label" for="username"
                    >Username</label><input id="username" class="form-control" type="text" th:field="*{username}" required autofocus="autofocus"/>
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</span>
                </div>
                <div class="form-group">
                    <label class="control-label" th:for="topic">Topic</label>
                    <!--/*@thymesVar id="topic" type="pl.warkoczewski.SpringAcademy_20_Task2_Cars.model.Topic"*/-->
                    <select th:field="*{topic}">
                        <!--/*@thymesVar id="values" type="pl.warkoczewski.SpringAcademy_20_Task2_Cars.model.Topic"*/-->
                        <option th:each="topicType : ${T(pl.warkoczewski.SpringAcademy_20_Task2_Cars.model.Topic).values()}" th:text="${topicType}" th:value="${topicType}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="text"
                    >Text</label><textarea style="height: max-content" id="text" class="form-control" type="text" th:field="*{text}" required autofocus="autofocus"></textarea>
                    <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Incorrect text</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div><br><br>

</body>
</html>
