<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<body>
<div th:object="${weather}">
<table class="table table-striped">
    <tr>
        <th>Location</th>
        <th>Temperature</th>
    </tr>
    <tr>
        <td th:text="*{location.name.toString()}"></td>
        <td th:text="*{current.getTemperature().toString()}"></td>
    </tr>
    <form th:action="@{/weather}" method="post">
    <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="City">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default">Get Weather
                <i class="glyphicon glyphicon-search" style="color: green"></i></button><br><br>
        </div>
    </div>
    </form>
</table>
</div>
</body>
</html>
