<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<nav th:insert="~{fragments/head :: navbarFragment}"></nav><br><br><br>
<form th:action="@{/cars/add}" method="post" th:object="${carDTO}">
<div class="form-group">
    <label class="control-label" for="mark"
    >Mark</label><input id="mark" class="form-control" type="text" th:field="*{mark}" required autofocus="autofocus"/>
    <span th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}">Mark does not exist</span>
</div>

<div class="control-label" for="model">
    <label>Model</label><input id="model" class="form-control" type="text"  th:field="*{model}" required autofocus="autofocus"/>
    <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Model does not exist</span>
</div>

<div class="form-group">
    <label class="control-label" for="color"
    >Color</label>
    <input id="color" class="form-control" type="text" th:field="*{color}" required autofocus="autofocus"/>
    <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Color does not exist</span>
</div>
<div class="control-label" for="productionYear">
    <label>Production Year</label>
    <input id="productionYear" class="form-control" type="number" th:field="*{productionYear}" required autofocus="autofocus"/>
    <span th:if="${#fields.hasErrors('productionYear')}" th:errors="*{productionYear}">Incorrect production year</span>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-success">Add</button>
</div>
</form>
</body>
</html>
