<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        footer {
            text-align: center;
            padding: 3px;
            background-color: darkolivegreen;
            color: white;
        }
    </style>
</head>
<body>
<!-- create navigation bar (header) -->
<nav th:fragment="mainNavFragment" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="submit" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/face/detector}">Detector</a>
            <a><form th:action="@{/face/detector}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="id" placeholder="Image URL">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">Detect
                            <i class="glyphicon glyphicon-search" style="color: green"></i></button><br><br>
                    </div>
                </div>
            </form></a>
        </div>
    </div>
</nav>
<br>
<br>

</body>
</html>
