<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Execution Time</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(methods)}" >
        <h2>Method Execution Time(1000 records)</h2>
        <table class="table table-striped">
            <tr>
                <th>Method</th>
                <th>Sample 1</th>
                <th>Sample 2</th>
                <th>Sample 3</th>
                <th>Sample 4</th>
            </tr>
            <tr th:each="method : ${methods}">
                <td th:text="${method.getName()}"></td>
                <td th:text="${method.getSample1()}"></td>
                <td th:text="${method.getSample2()}"></td>
                <td th:text="${method.getSample3()}"></td>
                <td th:text="${method.getSample4()}"></td>


                <td></td>
            </tr>
        </table>
    </div>
    </div>
</body>
</html>
