<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<nav th:insert="~{fragments/head :: mainNavFragment}"></nav><br><br>
<div class="container">
<div th:if="${not #lists.isEmpty(cars)}">
    <h2>Cars</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Mark</th>
            <th>Model</th>
            <th>Color</th>
            <th>Action</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.mark}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
            <td>
                <button th:href="@{cars/modify}">Modify</button>
            </td>

            <td></td>
        </tr>
    </table>
</div>
</div>
<footer th:insert="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>
