<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<nav th:insert="~{fragments/head :: mainNavFragment}"></nav><br><br>
<h1>Search</h1>
<div class="container">
    <form th:action="@{/cars/search}" method="post">
        <div class="input-group">
            <input type="text" class="form-control" name="id" placeholder="Search car by id">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default">Search
                    <i class="glyphicon glyphicon-search" style="color: green"></i></button><br><br>
            </div>
        </div>
    </form>
</div>
<br>
<br>
<div class="container">
    <div th:object="car">
        <h2>Car with id</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Mark</th>
                <th>Model</th>
                <th>Color</th>
            </tr>
            <tr>
                <td th:text="${car.id}"></td>
                <td th:text="${car.mark}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.color}"></td>
            </tr>
        </table>
    </div>
</div>
<br>
<br>
<footer th:insert="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>
