<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:class="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
            <form th:action="@{/email}" method="post">
                <div class="form-group">
                    <label class="control-label" for="fullName"
                    >FullName</label><input id="fullName" class="form-control" type="text" required autofocus="autofocus"/>
                </div>

                <div class="control-label" for="email">
                    <label>Email</label><input id="email" class="form-control" type="email" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="subject"
                    >Subject</label><input id="subject" class="form-control" type="text" required autofocus="autofocus"/>
                </div>
                <div class="control-label" for="content">
                    <label>Content</label>
                    <textarea id="content" rows="5" class="form-control" type="text"  required></textarea>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </form>

        </div>
    </div>

</div>
</body>
</html>
